@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8dee9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  width: 100vw;
  height: 100vh;
  padding: 5rem;
  display: grid;
  place-items: center;
}

.search-field {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #2e3440;
  outline: none;
  background-color: #d8dee9;
  color: #2e3440;
  text-align: center;
  font-size: larger;
}
